body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $text;
    background-color: $wh;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1236px;
}

.button {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    color: $wh;
    background-color: $accent;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $accent-hover;
    }
}

.sr-only {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
}
