$text: #667085;
$title: #101828;
$wh: #fff;
$accent: #db3333;
$accent-hover: #a62626;
$background: #f9f9f9;
$gray: #d0d5dd;
$dark: #344054;
$violet: #9E77ED;
$xxl: 1300;
$xl: 1180;
$lg: 999;
$md: 750;
$sm: 520;