.footer {
    flex-grow: 1;
    position: relative;
    @include r($md) {
        display: none;
    }


    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 329px;
        background: linear-gradient(180deg, rgba(16, 24, 40, 0) 0%, #101828 100%);
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 24px;
        box-shadow: 0 20px 24px -4px rgba(16, 24, 40, 0.1), 0 8px 8px -4px rgba(16, 24, 40, 0.04);
        background-color: $text;
    }

    &__box {
        padding: 0 64px;
    }

    &__buttons {
        display: flex;
    }

    &__title {
        position: relative;
        z-index: 2;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.22;
        letter-spacing: -1.2px;
        color: $wh;
    }

    &__subtitle {
        position: relative;
        z-index: 2;
        margin-bottom: 40px;
        font-size: 20px;
        color: $wh;
    }

    &__button {
        z-index: 2;

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    &__img {
        max-width: 480px;
        border-radius: 0 24px 24px 0;

    }
}