.header {
    position: relative;
    padding: 18px 0;
    background-color: $background;

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;

        &__list {
            display: flex;
            margin-right: auto;

            @include r($lg) {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                z-index: 10;
                display: block;
                align-items: center;
                padding: 60px 0 10px;
                border-bottom: 2px solid $gray;
                text-align: center;
                background-color: rgba($wh, 0.95);
                transform: translateY(-200%);
                transition: all 0.5s;
            }
        }

        &__list--active {
            transform: translateY(0);
        }

        &__item {
            transition: color 0.3s;

            &:not(:last-child) {
                margin-right: 32px;

                @include r($xl) {
                    margin-right: 18px;
                }

                @include r($md) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            &:hover {
                color: $title;
            }

            @include r($md) {
                color: $title;
            }
        }

        &__contacts {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include r($md) {
                display: none;
            }
        }

        &__tel {
            margin-right: 12px;
            padding: 0 18px;

            @include r($xl) {
                margin-right: 8px;
            }
        }

        &__burger {
            z-index: 15;
            display: none;
            border: none;
            background-color: transparent;
            cursor: pointer;

            @include r($md) {
                display: block;
            }
        }
    }

    .logo {
        margin-right: 40px;

        &__img {
            display: block;
            width: 148px;
            height: 40px;
        }

        @include r($xl) {
            margin-right: 20px;
        }
    }
}