.hero {
    background-color: $background;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 64px 0 96px;
        min-height: calc(100vh - 80px);
        @include r($lg) {
            padding: 0;
        }
        @include r($md) {
            min-height: 100%;
        }

    }


    &__title {
        max-width: 690px;
        position: relative;
        margin-right: -30px;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 60px;
        line-height: 1.22;
        letter-spacing: -1.2px;
        color: $title;
        @include r($xxl) {
            font-size: 45px;
            margin-right: 0;
        }
        @include r($lg) {
            font-size: 36px;
        }
        @include r($xl) {
            margin-bottom: 16px;
        }

        &::after {
            content: "";
            position: absolute;
            right: 70px;
            bottom: -3px;
            width: 463px;
            height: 15px;
            background-image: url("../images/vector.svg");
            @include r($xxl) {
                display: none;
            }
        }
    }

    &__subtitle {
        margin-bottom: 48px;
        max-width: 560px;
        font-size: 20px;
        @include r($xl) {
            margin-bottom: 32px;
        }
        @include r($lg) {
            font-size: 18px;
        }
        @include r($md) {
            max-width: 100%;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        @include r($md) {
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;

        }
    }

    &__tel {
        margin-right: 16px;
        padding: 11px 14px 11px 16px;
        width: 360px;
        border: 1px solid $gray;
        border-radius: 8px;
        box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
        background-color: $wh;
        @include r($lg) {
            max-width: 345px;
            width: 100%;
            margin-bottom: 8px;
        }
        @include r($md) {
            margin-right: 0;
        }
    }

    &__info {
        @include r($xl) {
            max-width: 440px;
        }
        @include r($md) {
            max-width: 100%;
            padding: 64px 0;
        }
    }

    &__message {
        font-size: 14px;
        @include r($md) {
            display: none;
        }
    }

    &__pic {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 560px;

        &::after {
            content: "";
            position: absolute;
            left: -135px;
            bottom: 87px;
            width: 333px;
            height: 100px;
            background-image: url("../images/arrow.svg");
        }
    }
    &__img {
        object-fit: cover;
        @include r($xl) {
            width: 450px;
            height: 515px;
        }
        @include r($md) {
            display: none;
        }
    }
    &__privacy {
        display: none;
        font-size: 14px;
        color: $violet;
        margin-bottom: 16px;
        @include r($md) {
            display: block;
        }
        span {
            text-decoration: underline;
        }
    }
}