.info {
    padding: 96px 0;

    &__inner {
        display: flex;
        justify-content: space-between;

        @include r($md) {
            flex-direction: column;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 20px;
        padding-top: 85px;
        font-weight: 600;
        font-size: 36px;
        line-height: 1.22;
        letter-spacing: -1.2px;
        color: $title;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 66px;
            height: 67px;
            background-image: url("../../images/sharp.svg");
        }

        @include r($lg) {
            margin-bottom: 16px;
            font-size: 30px;
        }
    }

    &__box {
        margin-right: 64px;
        max-width: 365px;

        @include r($md) {
            margin-right: 0;
            margin-bottom: 48px;
            max-width: 100%;
        }
    }

    &__subtitle {
        margin-bottom: 34px;
        font-size: 20px;

        @include r($lg) {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

    &__content {
        display: flex;

        @include r($xl) {
            flex-direction: column;
        }
    }

    &__subject {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__subjects {
        max-width: 365px;

        &:not(:last-child) {
            margin-right: 64px;

            @include r($md) {
                margin-right: 0;
            }
        }

        @include r($xl) {
            max-width: 100%;
        }
    }

    &__subject-text {
        margin-bottom: 22px;

        @include r($lg) {
            margin-bottom: 15px;
        }
    }

    &__subject-title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        color: $title;

        @include r($lg) {
            margin-bottom: 4px;
        }
    }

    &__services,
    &__service {
        border-bottom: 1px solid $accent;
        font-weight: 500;
        color: $accent;
        transition: border-bottom 0.3s;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    @include r($lg) {
        padding: 64px 0;
    }
}